<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="static/images/icon.png" />
  <title>Music through the decades</title>
  <link rel="stylesheet" href="static/css/style.css">


</head>


{% include "nav.html" %}


<body>
  <div id="page-container">
<h1>Exploring musical stylings across decades</h1>
<p>See how music changed over the second hald of the 20th Century.</p>

<div class="select-container">
  <h3>Musical Attribute</h3>
  <select title="feature" class="form-select" id="selDataset" onchange="optionChanged(this.value)">

  </select>
</div>

<div class = "plot-container"> 

      
  <div id="featureplot"></div>


</div>
<div class="clearfooter"></div>
</div>
</body>
{% include "footer.html" %}
  
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/feature.js"></script>
  


</html>
